main #first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 3rem 10rem;
}

main #first-section div {
  align-self: baseline;
}

main #first-section #big-text {
  font-weight: 800;
  font-size: 2.5rem;
  width: 350px;
  margin-bottom: 1rem;
}

main #first-section #normal-text {
  width: 350px;
  text-align: left;
}

@media screen and (max-width:1060px) {
  main #first-section {
    padding: 2rem 0 2rem 0;
  }
}

@media screen and (max-width:940px) {
  main #first-section #big-text {
    font-size: calc(1rem + 2vw);
  }
  main #first-section img {
    width: calc(10rem + 30vw);
  }
}

@media screen and (max-width:780px) {
  main #first-section {
    flex-direction: column;
  }
  main #first-section #big-text,
  main #first-section #normal-text {
    width: 70%;
    text-align: left;
  }
  main #first-section #big-text {
    font-size: calc(1rem + 1vw);
  }
 
  main #first-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  } 
}

@media screen and (max-width: 400px) {
  main #first-section #normal-text {
    font-size: calc(.7rem + 1vw);
    /* text-align: justify; */
  }
}
